/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/



/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1100px) {

    h1 {
        font-weight: 100;
    }

    .landing-page-container {
        min-height: 100vh;
        width: 100%;
        background-color: #f8f5f2;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5vh 0 0;
        padding: 1vh 0 0;
        background-color: #efa743;
    }

    .navigation h1 {
        margin: 0 0.65vw;
        padding: 1.25vh 0;
        font-family: 'Cutive', serif;
        font-size: 0.85em;
    }

    .navigation_comms {
        color: #3D3D3D;
        text-decoration: underline;
    }

    .navigation_options {
        color: #3D3D3D;
        text-decoration: none;
    }

    .navigation_byline {
        margin: 0.25vh 0 0;
        padding: 1.5vh 0;
        font-family: 'Alike Angular', serif;
        font-size: 1.75em;
        font-weight: 700;
        background-color: #f2b867;
    }

    .navigation_logo {
        position: absolute;
        top: 0.5vh;
        right: 2vw;
        height: 24vh;
        width: 12vw;
    }

    .test {
        margin: 3vh 0 0;
    }
}

@media (min-width: 1500px) {

    .navigation h1 {
        margin: 0 1.25vw;
        padding: 1.25vh 0;
        font-family: 'Cutive', serif;
        font-size: 0.85em;
    }

}