/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.careers-content {
    margin: 33vh 0 33vh 0;
}

.careers-content_headline {
    color: #5a5a5a;
    font-family: 'Cutive', serif;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: underline 3.75px;
    text-underline-offset: 1.25vh;
}

/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1280px) {
    
}