/*::::::::::::::::::::::::::::::::::::::::
:  Mobile, Tablet, & Desktop Layout CSS  :
::::::::::::::::::::::::::::::::::::::::*/

body {
  margin: 0;
}

h1 {
  margin: 0;
}

.App {
  text-align: center;
}